# Chặn toàn bộ node_modules ở mọi nơi
node_modules/
frontend/node_modules/
backend/node_modules/

# Chặn env
.env
.env*

# Build folders
frontend/.next/
frontend/build/
frontend/dist/
backend/dist/
.vercel

# Chặn SQL trong folder main
main/*.sql
usage
giải thích
